@{
    //ViewBag.Title = "SBS Intranet";
    ViewBag.PageName = "Home";
}


<br>


<style>
    .tmpDiv {
        margin: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        /*border: 1px solid gray;*/
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>




<!-- #region Developing -->
@if (ViewBag.Dev)
{
    <div class="alert dev">
        <span class="closebtn">&times;</span>
        @*<strong>@ViewBag.Dev</strong>*@
        <strong>@((ViewBag.debug ? "[Debug] " : "") + "PLAY mode")</strong>
    </div>
}
<style>
    .alert.dev {
        padding: 20px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
        background-color: hotpink;
        font-size: larger;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

        .closebtn:hover {
            color: black;
        }
</style>
<script type='text/javascript'>
    var close = document.getElementsByClassName("closebtn");
    for (var i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    }
</script>
<!-- #endregion -->




<div class="tmpDiv">
    <img src="@Url.Action("GetTempHomeIamge")" alt="Specialty Bolt & Screw Inc." title="Specialty Bolt & Screw Inc." />
</div>



@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

