
<style type="text/css">
    .SearchFields {
        max-width: 150px;
        width: 150px;
        font-size: medium;
    }
</style>




<script type="text/javascript">
    $(document).ready(function () {    
        $("#btn_search").click(function () {
            document.getElementById('btn_search').setAttribute('disabled', 'disabled');
            //document.getElementById('btn_search').value = "Searching...";

            $("#loading").fadeIn();
            var target = document.getElementById('loading');
            var spinner = new Spinner(opts).spin(target);

            var po_no = $('#po').val();
            $("#output").load('@Url.Action("Get_CartonPO", "Reports")?pm_PO=' + po_no);
        });
    })
</script>




<h4 style="margin: 0 0 20px 20px;">
    @ViewBag.ReportName
</h4>




<div class="form-inline form-group">
    @Html.Label("PO", htmlAttributes: new { @class = "control-label", style = "margin-left: 15px;" })
    &nbsp;
    <input type="text" id="po" name="po" autocomplete="off" class="form-control SearchFields" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" id="btn_search" value="Search" class="btn btn-default" />
</div>

<div id="output">
</div>
