<h4 style="margin: 0 0 20px 20px;">
    @ViewBag.ReportName
</h4>




@using (Html.BeginForm("Open_KitParts", "Reports", null, FormMethod.Post, new { enctype = "multipart/form-data", target="_blank" }))
{ 
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="width: 500px; margin-left: 15px;">
        <div class="form-group">
            @Html.Label("Part No", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <input type="text" id ="pm_item_id" name ="pm_item_id" class="form-control" />
            </div>
        </div>
        <div class="form-group" style="margin-right: 10%; text-align: right;">
            <input type="submit" id="btn_print" value="Print" class="btn btn-primary" />
        </div>
    </div>
}
