@{
    Layout = null;
    ViewBag.Title = "Change Password";
}

<style>
    .hrefBack {
        color: white;
        text-decoration: none;
    }


    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(to right, #b92b27, #1565c0);
    }

    .card {
        border: none;
    }

    .box {
        width: 500px;
        padding: 40px;
        background: #191919;
        text-align: center;
        transition: 0.25s;
        border-radius: 40px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

        .box input[type="text"],
        .box input[type="password"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #3498db;
            padding: 10px 10px;
            width: 250px;
            outline: none;
            color: white;
            border-radius: 6px;
            transition: 0.25s;
        }

        .box h1 {
            color: white;
            font-weight: 500;
        }

        .box h3 {
            color: white;
        }

        .box input[type="password"]:focus {
            width: 300px;
            border-color: #2ecc71;
        }

        .box input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 4px;
            transition: 0.25s;
            cursor: pointer;
            font-size: large;
        }

            .box input[type="submit"]:hover {
                background: #2ecc71;
            }
</style>


<div style="padding-left: 10px; padding-top: 10px;">
    @Html.ActionLink(HttpUtility.HtmlDecode("&#8630; Back to previous page"), null, null, null, new { href = Request.UrlReferrer, @class = "hrefBack" })
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                @using (Html.BeginForm("StartChange", "Login", FormMethod.Post, new { @class = "box" }))
                {
                    @Html.AntiForgeryToken()
                    <h1>Change Password</h1>
                    <h3>@ViewBag.Message</h3>
                    <hr>
                    <input type="password" name="Password" placeholder="Original Password" style="font-size: large;">
                    <p style="color: lightgray; padding-top: 25px; padding-left: 55px; text-align: left;">
                        New Password instructions: <br>
                        1. At least 8 characters—the more characters, the better. <br>
                        2. Cannot contain your name and account. <br>
                        3. A mixture of uppercase letters, lowercase letters, numbers, and symbols (non-alpha numeric characters).
                    </p>
                    <input type="password" name="NewPassword" placeholder="New Password" style="font-size: large;">
                    <input type="password" name="NewPassword2" placeholder="Confirm New Password" style="font-size: large;">
                    <br>
                    <input type="submit" value="Save">
                }
            </div>
        </div>
    </div>
</div>


@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
